*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paws-container{
   
    /* background: red; */
    width: 200px;
    margin-left: 45%;
    margin-top:10% ;
   
}

.paws-loader-svg{
    margin-top: 100px;
    width: 100px;
    height: 100px;
   
}
@keyframes pulsing {
    0% {
    
      opacity: 1;
      transform: translateY(0%)
    }
    50% {

        opacity: .0;
        transform: translateY(15%)
    }
  
    100% {
        transform: translateY(0%);
         opacity: 1;
    }
}

.Paws1{
    margin-top: 150px;
    animation: pulsing 1s infinite ;
    
}

.Paws2{
    position: absolute;
    animation: pulsing 1s infinite ;
    animation-delay: 0.5s;

}


